@import "setup";
@import "typography";
@import "vars";
@import "general";

//-----Header-----//
.greetingContainer {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  text-align: center;
  color: $grassGreen;

  img {
    width: 60%;
    margin: 1rem auto;
  }

  p {
    width: 50%;
    margin: 2rem auto;
  }
}

//-----.ingrdientSelection-----//
.ingredientForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $wheat;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border: none;
  margin-bottom: 2rem;
}

legend {
  color: $bitterSweet;
  background: $meadowGreen;
  height: 35px;
  border-radius: 6px;
}

.ingredientForm input {
  position: absolute;
  opacity: 0;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 150px;
  text-align: center;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  img {
    width: 100%;
  }
}

.checkboxContainer label:hover {
  transform: scale(1.1);
}

.labelColor {
  background: $melon;
  border-radius: 30px;
}

.tossItUp {
  width: 350px;
  height: 80px;
  background: $bitterSweet;
  border-radius: 20px;
  border: none;
  color: $napoliYellow;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.tossItUp:hover {
  animation: shakeItUp 0.82s cubic-bezier(0.4, 0.1, 0.25, 0.99) both;
  perspective: 1000px;
  background: $darkOrange;
}

@keyframes shakeItUp {
  10%,
  90% {
    transform: translate3d(-4px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(5px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(10px, 0, 0);
  }
}
