@import "setup";
@import "typography";
@import "vars";
@import "general";

//-----Header-----//
.greetingContainer {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  text-align: center;
  color: $grassGreen;

  img {
    width: 20%;
    margin: 1rem auto 0 auto;
  }

  p {
    width: 50%;
    margin: 0.5rem auto;
  }

  p:nth-of-type(2) {
    margin-bottom: 2rem;
  }
}

//-----.ingrdientSelection-----//
.ingredientForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffe5d9;
  padding: 1rem 0;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border: none;
  margin-bottom: 2rem;
}

legend {
  color: $bitterSweet;
  height: 35px;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.ingredientForm input {
  position: absolute;
  opacity: 1;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 150px;
    text-align: center;
    z-index: 30;
  }

  img {
    width: 100%;
  }
}

.checkboxContainer label:hover {
  transform: scale(1.1);
}

.labelColor {
  background: $melon;
  border-radius: 30px;
}

.tossItUp {
  width: 350px;
  height: 80px;
  background: $bitterSweet;
  border-radius: 20px;
  border: none;
  color: $napoliYellow;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.tossItUp:hover {
  animation: shakeItUp 1s cubic-bezier(0, 1.5, 1, 1.5) both;
  background: $darkOrange;
}

@keyframes shakeItUp {
  10%,
  90% {
    transform: translate3d(-4px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(5px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(10px, 0, 0);
  }
}

//-----#saladCombo-----//
.errorImage {
  display: flex;

  img {
    width: 40%;
    margin: 0 auto;
    animation: pop 2s 1s linear;
  }
}

.errorMessage {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: #fff;
  background: $grassGreen;
  border-radius: 50px;
  margin-bottom: 2rem;
  animation: pop 2s 1s linear;
}

@keyframes pop {
  50% {
    transform: scale(1.25);
  }
}

//-----Footer-----//
footer {
  text-align: center;
  background: $grassGreen;
  color: #ffffff;
  line-height: initial;

  a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: $darkOrange;
    }
  }
}
