html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.greetingContainer p:nth-of-type(2) {
  font-size: 40px;
  font-weight: bolder;
}

h1 {
  font-family: "Cedarville Cursive", cursive;
  font-size: 100px;
  text-align: center;
  letter-spacing: 2.5px;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
}

h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 37px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
}

form {
  font-size: 23px;
}

legend {
  font-family: "Cormorant Garamond", serif;
  font-size: 33px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.tossItUp {
  font-family: "Comic Neue", cursive;
  font-size: 50px;
  letter-spacing: 4px;
}

.errorMessage {
  font-family: "Comic Neue", cursive;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: bold;
}

body {
  background-color: #fff;
}

.mainWrapper {
  max-width: 1650px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0;
}

.greetingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  text-align: center;
  color: #5ea241;
}
.greetingContainer img {
  width: 20%;
  margin: 1rem auto 0 auto;
}
.greetingContainer p {
  width: 50%;
  margin: 0.5rem auto;
}
.greetingContainer p:nth-of-type(2) {
  margin-bottom: 3.5rem;
}

.ingredientForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffe5d9;
  padding: 2rem 0;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: none;
  margin-bottom: 2rem;
}

legend {
  color: #f27059;
  height: 35px;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.ingredientForm input {
  position: absolute;
  opacity: 0;
}

.checkboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}
.checkboxContainer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  text-align: center;
  z-index: 30;
  cursor: pointer;
}
.checkboxContainer img {
  width: 100%;
}

.checkboxContainer label:hover,
.checkboxContainer label:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.labelColor {
  background: #f8ad9d;
  border-radius: 30px;
}

.tossItUp {
  width: 350px;
  height: 100px;
  background: #f27059;
  border-radius: 20px;
  border: none;
  color: #ffe402;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.tossItUp:hover,
.tossItUp:focus {
  -webkit-animation: shakeItUp 1s cubic-bezier(0, 1.5, 1, 1.5) both;
          animation: shakeItUp 1s cubic-bezier(0, 1.5, 1, 1.5) both;
  background: #fd8e01;
}

@-webkit-keyframes shakeItUp {
  10%, 90% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@keyframes shakeItUp {
  10%, 90% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}
.saladCombo {
  background-color: #f27059;
  padding: 2rem 0;
}

.recipeResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #b0e3a7;
  color: #fd8e01;
  margin: 4rem auto;
  text-align: center;
  width: 50%;
}
.recipeResults h2 {
  margin-top: 2rem;
  padding: 0 2rem;
  text-transform: capitalize;
}
.recipeResults h3 {
  margin-top: 1rem;
  text-transform: capitalize;
}

.recipeResults a {
  text-decoration: none;
  color: #fd8e01;
  border-bottom: 1px solid white;
  margin-top: 3rem;
  margin-bottom: 3rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.recipeResults a:hover, .recipeResults a:focus {
  color: white;
}

.recipeResults div {
  margin: 2rem auto;
}
.recipeResults div img {
  -webkit-box-shadow: 16px 17px 0px 6px #ffe402;
  box-shadow: 16px 17px 0px 6px #ffe402;
}

.recipeResults p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0 1rem;
}

.errorImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.errorImage img {
  width: 65%;
  margin: 0 auto;
  -webkit-animation: pop 2s 1s linear;
          animation: pop 2s 1s linear;
}

.errorMessage {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: #fff;
  background: #5ea241;
  border-radius: 50px;
  margin-bottom: 2rem;
  -webkit-animation: pop 2s 1s linear;
          animation: pop 2s 1s linear;
  padding: 1rem;
}

@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}
footer {
  text-align: center;
  background: #5ea241;
  color: #ffffff;
  line-height: initial;
}
footer p {
  margin: 0;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer a:hover, footer a:focus {
  color: #fd8e01;
}

@media (max-width: 600px) {
  h1 {
    font-size: 70px;
  }

  .greetingContainer img {
    width: 40%;
  }

  .checkboxContainer label {
    width: 100px;
  }

  .recipeResults {
    width: 100%;
  }

  .errorImage img {
    width: 100%;
  }

  .errorMessage {
    width: 80%;
  }
}